body {
	/*background: blanchedalmond;*/
	background: rgb(83, 65, 86);
	color: whitesmoke;
	text-align: center;
}

#name {
	font-family: 'Akronim', cursive;
	font-family: 'Montserrat', sans-serif;
	font-size: 450%;
}

#glossary {
	font-size: 150%;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.links {
	padding: 2px;
	margin: 5px;
}