body {
	/*background: blanchedalmond;*/
	background: rgb(83, 65, 86);
	color: whitesmoke;
	text-align: center;
}

#title {
	font-size: 300%;
	font-family: 'Akronim', cursive;
	font-family: 'Montserrat', sans-serif;
}
